body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #0d0d0d;
  font-size: 15px;
  font-weight: 400;
  background: #f7f9fa;
}
.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
